/* NONchanging-flexible content */
*{
  font-family: 'Raleway';
}
.black {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  overflow: auto;
}
.name, 
.brand {
  position: relative;
  font-style: normal;
  align-items: center;
  line-height: 26px;
}
.brand {
  font-weight: 800;
  font-size: 26px;
  color: #1d1f22;
  margin-top: 10px;
}
.name {
  font-weight: 600;
  font-size: 24px;
  color: #333436;
}
.attribut {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  align-items: center;
  margin-top: 5px;
  color: #1d1f22;
}
.values {
  font-family: 'Roboto Condensed';
  text-align: justify;
  text-transform: uppercase;
}
.size {
  display: inline-block;
  margin: 5px;
  padding: 10px 15px 20px;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  width: auto;
  height: 25px;
  line-height: 10px;
  border: 1px solid #667690;
  font-size: 14px;
  transition: box-shadow 500ms ease;
}
.size:hover {
  background: #1d1f22;
  color: white;
}
.size:active {
  background: #1d1f22;
  color: white;
  box-shadow: 1px 1px 5px 1px grey;
}
.price {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}
.content {
  width: 90%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 159.96%;
  margin-top: 5px;
  color: #1d1f22;
  z-index: 20;
}
.content h1{
  display: none;
}
.close {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: rgb(180, 178, 178);
  width: 50px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #ffffff;
  border-radius: 10%;
  cursor: pointer;
  font-weight: 700;
  transition: transform 600ms ease;
  z-index: 1000;
}
.close:hover {
  transform: scale(1.1) translateY(-2px);
  background-color: black;
}

/* Container white */
.white {
  position: relative;
  display: block;
  margin: 3% auto;
  width: 70%;
  padding: 40px 30px;
  background: #fff;
}
/* Container */
.full-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  justify-content:flex-start;
  text-align: start;
  align-items: stretch;
}
/* Gallery */
.full-gallery{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 420px;
  float: right;
}
.mini-gallery {
  height: 90%;
  cursor: pointer;
  float: left;
  justify-content: center;
  margin: auto;
  overflow: scroll;
}
.mini-image {
  height: 90px;
  width: 90px;
  object-fit: cover;
  cursor: pointer;
  margin: 5px 0px;
  display: block;
  transition: transform 500ms ease;
}
.mini-image:hover {
  transform: scale(1.1);
}
.image {
  position: relative;
  max-height: 400px;
  min-height: 270px;
  object-fit: cover;
  cursor: pointer;
  justify-content: center;
  margin: auto;
  z-index: 0;
  transition: transform 500ms ease;
}
.image:hover {
  transform: scale(1.1);
}
/* Description */
.full-descrtiption{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30%;
  z-index: 100;
}
/* ADD button */
.full_add_button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px auto;
  cursor: pointer;
  width: 90%;
  height: 50px;
  line-height: 50px;
  background-color: #5ece7b;
  transition: transform 500ms ease;
}
.full_add_button:hover {
  transform: scale(1.1);
}
.add-label {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 1030px) {
  .white {
    width: 80%;
    padding: 30px 20px;
  }
  .image {
    max-height: 395px;
  }
}
@media (max-width: 992px) {
  .white {
    width: 90%;
    min-width: 350px;
  }
  .image {
    max-width: 400px;
  }
}
@media (max-width:835px) {
  .full-container{
    width: 100%;
    flex-direction: column;
  }
  .full-gallery{
    width: 90%;
  }
  .mini-gallery {
    max-height: 395px;
  }
  .full-descrtiption{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media (max-width: 710px) {
  .full-gallery{
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 500px;
  }
  .mini-gallery {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 420px;
    height: 20%;
    overflow-x: scroll;
  }
  .mini-image {
    margin: 0px 10px;
  }
}

@media (max-width: 510px) {
  .image {
    max-width: 300px;
  }
  .mini-gallery {
    max-width: 300px;
  }
}