body {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  transition: all ease 300ms;
}
.logo {
  position: relative;
  width: 135px;
  height: 45px;
}
.categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
}
/* _Header / Elements / Desktop / Buttons */
.element {
  display: inline;
  width: auto;
  height: 60px;
  font-weight: 400;
  font-size: 16px;
  padding: 20px;
  text-transform: uppercase;
  cursor: pointer;
  border-style: none;
  transition: border-bottom 400ms ease;
}
.element:hover {
  border-style: none;
  border-bottom: 2px solid #5ece7b;
}
label {
  color: #1d1f22;
}
label:active {
  color: #5ece7b;
}