.products-container{
  display: inline-block;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0px 20px 10px 20px;
  margin: 0px auto;
}
.product-card {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 30%;
  cursor: pointer;
  height: 420px;
  padding: 10px;
  margin: 10px;
  transition: box-shadow 500ms ease;
}
.product-card:hover {
  box-shadow: 4px 4px 10px 3px grey;
}
.good {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  width: fit-content;
  height: 390px;
  background: #ffffff;
}
.gallery {
  width: 90%;
  height: 350px;
  object-fit: contain;
  cursor: pointer;
}
.descrtiption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  align-self: stretch;
}
.title {
  font-family: 'Raleway';
  font-style: normal;
  font-size: 18px;
  display: flex;
  align-items: flex-start;
  color: #8d8f9a;
}
.price {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.add-to-cart {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: #5ece7b;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 24px;
  color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 700;
  transition: transform 500ms ease;
}
.add-to-cart:hover {
  transform: scale(1.5) translateY(-5px);
}
@media (max-width: 992px) {
  .product-card {
    width: 45%;
    margin: 5px;
  }
}
@media (max-width:767px) {
  .products-container{
    padding: 0px 0px;
  }
  .product-card {
    width: 48%;
    padding: 5px;
    margin: 5px;
  }
}
@media (max-width:530px) {
  .product-card {
    width: 70%;
    margin: 2px;
  }
}
@media (max-width:395px) {
  .product-card {
    width: 90%;
    margin-left: 15px;
  }
}